doc/oleo.html
autom4te.cache/
*.o
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
ylwrap
config.h
config.log
config.status
configure~
doc/oleo.info
lib/.deps/
oleo.spec
oleobug
src/.deps/
stamp-h1
doc/oleo_html/
lib/getdate.c
lib/liboleo.a
src/gpl.h
src/oleo
src/parse.c
src/parse.h
src/posixtm.c
src/posixtm.h
